.project-details {
    display: flex;
    justify-content: flex-start;
    height: 60%;
    margin-right:8%;

    }

.about-img{
    border-radius: 50%;
    align-self: center;
    width:80%;

}

.about-decor{
    position: absolute;
    border-radius: 60px;
    top:19%;
    left:14%;
    background-color: cornsilk;
    width:72%;
    height:64%;
    z-index: -1;
}

.project-name{
    width:100%;
    font-family: "Dekko", cursive;
    font-size: 2.35vw;
}

.project-desc{
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.1vw;
}
