.about-details {
    display: flex;
    height: 60%;
    margin-left:6%;


    }

    .about-desc{
        width: 100%;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 1.5vw;
    }
    

.about-img{
    border-radius: 25px;
    width:70%;
    align-self: center;

}

.about-decor{
    position: absolute;
    border-radius: 60px;
    top:19%;
    left:14%;
    background-color: cornsilk;
    width:72%;
    height:64%;
    z-index: -1;
}



