.contact-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .contact-desc{
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
}

.contact-decor{
        position: absolute;
        border-radius: 60px;
        top:18%;
        left:10vw;
        background-color: cornsilk;
        width:73.5%;
        height:33%;
        z-index: -1;
}

.contact-column{
  /* transform: translate3d(0,20%,0); */
  margin-left: 6%;
  height: 60%;
  

}

/* Samsung tablet portrait */
@media (max-width: 800px) {
  .contact-column {
  transform: translate3d(0,-40%,0);
  }

  .contact-decor{
    height:20%;

}



@media (max-width: 425px) {
  .contact-column {
    transform: translate3d(0,-52%,0);
    }

    .contact-column a{
      margin-top: 4%;
    }
}


}
