.hero-container {
    display: flex;
    background-color: #1fcecb;
    height: 100vh;
    margin: 0 auto;
    max-width: 100vw;
    padding: 0 2.5vw;
    align-items: center;

}

.hero-greeting {
    height: 100%;
    flex-grow:8;
    flex-basis: 60vw;
}

.greeting-container {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.h1-greeting, .h2-details{
    width: 500px;
    flex: 0 0 auto
}

.h1-greeting{
    font-family: "Dekko", cursive;
}

.h2-details{
    font-family: "Roboto", sans-serif;
}


.hero-avatar {
    height:100%;
    flex-grow:2;
    flex-basis:40vw;
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.avatar-img{
    border:1px solid gray;
    width:90%;
    border-radius: 50%;
}


@media (max-width: 700px) {

    .hero-container {
        display: flex;
        flex-direction: column;
        background-color: #1fcecb;
        max-height: 100vh;
        margin: 0 auto;
        max-width: 100vw;
        padding: 0 2.5vw;
        /* align-items: center; */
    
    }
    
    
    .greeting-container {
        max-width: 650px;
        display: flex;
        text-align: left;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .h1-greeting, .h2-details{
        flex: 0 0 auto
    }
    
    .h1-greeting{
        justify-self: center;
        font-family: "Dekko", cursive;
        font-size: 28pt;
    }

    .h2-details{
        font-family: "Roboto", sans-serif;
        font-size: 16pt;
    }

    
    .avatar-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .avatar-img{
        border:1px solid gray;
        width:90%;
        border-radius: 50%;
    }
 
}