.hero-container {
    display: flex;
    background-color: #D8FDFE;
    height: 100vh;
    margin: 0 auto;
    max-width: 100vw;
    padding: 0 2.5vw;
    align-items: center;
    border: 1px solid black;

}

.hero-greeting {
    height: 100%;
    flex-grow:8;
    flex-basis: 50vw;
}

.greeting-container {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.greeting-item, .details-item{
    position:relative;
    width: 700px;
    height: 50%;   
}



.h1-greeting, .h2-details{
    width: 700px;
    left:18%;
    flex: 0 0 auto
}

.h1-greeting{
    line-height: 1.15;
    position: absolute;
    bottom:0;
    display: block;
    font-family: "Dekko", cursive;
    font-size: 4.0rem;
    font-weight: 400;
}

.h2-details{
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 2rem;
}


.hero-avatar {
    height:100%;
    flex-grow:2;
    flex-basis:50vw;
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.avatar-img{
    border:1px solid gray;
    width:80%;
    border-radius: 50%;
}

/*Samsung tablet portrait*/
@media (max-width: 800px) {

    .hero-container {
        flex-direction: column;
    }
      
    .greeting-container {
        margin-top: 4rem;
        text-align: center;
        border: 2px solid green;
        max-height: 30%;
        width: 100%;
    }

    .h1-greeting{
        justify-self: center;
        font-size: 32pt;
    }

    .h2-details{
        font-size: 20pt;
    }
   

    @media (max-width: 425px) {
        .hero-container {
            display: flex;
            background-color: pink;
            max-height:740px;
            margin: 0 auto;
            padding: 0 2.5vw;
            align-items: center;
        
        }
          
        .greeting-container { 
            width: 100%;
            max-width: 400px;
        
        }
    
        .h1-greeting{
            justify-self: center;
            font-size: 22pt;
        }
    
        .h2-details{
            font-size: 14pt;
            max-width: 350px;
        
        }
    
    }


}


