.project-details {
    display: flex;
    justify-content: flex-start;
    height: 60%;
    margin-right:8%;

    }

.STEM-img{
    transform: translate3d(-5%,0,0);
    width:100%;
    margin: 0;

}

.bg-decor{
    position: absolute;
    border-radius: 60px;
    top:18%;
    left:10vw;
    background-color: cornsilk;
    width:73.5%;
    height:65%;
    /* min-width: 905px;
    max-width: 1215px;
    min-height:375px;
    max-height: 500px; */
    z-index: -1;
}

.project-name{
    width:100%;
    font-family: "Dekko", cursive;
    font-size: 2.35vw;
}

.project-desc{
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.25vw;
}


.postgres-logo{
    left:25%;
}

.react-logo{
    right:25%;
}


/* Samsung tablet portrait */
@media (max-width: 800px) {

    .STEM-img{
        transform: translate3d(0%,0%,0);
        width:90%;
        margin: 0;
    
    }


    .project-desc, .project-name{
        /* transform: translate3d(0,-90%,0); */
        width: 70%;
        align-self: center;
    }

    .project-name{
        margin-top: 0;
        font-size: 3.5vw;
    }
    
    .project-desc{
         font-size: 2.2vw;
    }

    .project-flex-column {
        transform: translate3d(0,-20%,0);
       }

  @media (max-width: 425px) {

    .project-flex-column {
        transform: translate3d(0,-10%,0);
       }


    .project-desc, .project-name{
        width: 80%;
        align-self: center;
    }

    .project-name{
        font-size: 4.15vw;
    }

    .project-desc{
        font-size: 3vw;
        margin-bottom: 12vh;
   }
  }


}
