.project-details {
    display: flex;
    justify-content: flex-start;
    height: 60%;
    margin-right:8%;

    }

.STEM-img{
    transform: translate3d(-9%,0,0);
    width:115%;
    margin: 0;

}

.bg-decor{
    position: absolute;
    border-radius: 60px;
    top:18%;
    left:10vw;
    background-color: cornsilk;
    width:73.5%;
    height:65%;
    /* min-width: 905px;
    max-width: 1215px;
    min-height:375px;
    max-height: 500px; */
    z-index: -1;
}

.project-name{
    width:100%;
    font-family: "Dekko", cursive;
    font-size: 2.35vw;
}

.project-desc{
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.25vw;
}

.logo{
    height: 5vw;
    object-fit: contain;

}

.logo-name{
    margin-top: 0;
    font-family: "Dekko", cursive;
}


.logo-container {
    display: inline-flex;
    position:absolute;
    flex-direction: column;
    justify-content: flex-start ;
    align-items: center;
    bottom: 0 
}

.postgres-logo{
    left:25%;
}

.react-logo{
    right:25%;
}