/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

html, body {
  margin: 0;
  padding: 0;
}

:root {
  --purp: #524763;
  --darkPurp: #373142;
  --xtraPurp: #191324;
  --grey: #d8d8d8;
  --teal: #82d8d8;
  --red: #e54b4b;
  --black: #333;
  --black-20: #4f4f4f;
  --black-40: #828282;
  --black-60: #bdbdbd;
  --white-60: #e0e0e0;
  --white-40: #f2f2f2;
  --white-20: #f5f4f6;
  --white: #fff;
}

.dekko-regular {
  font-family: "Dekko", cursive;
  font-weight: 400;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.container-100vh-100vw {
  display: flex;
  background-color: #D8FDFE;
  height: 100vh;
  margin: 0 auto;
  max-width: 100vw;
  padding: 0 10vw 0 12vw; 
  align-items: center;
}

.flexbasis-60vw {
  height: 100%;
  flex-basis: 60vw;
}

.flexbasis-40vw {
  height: 100%;
  flex-basis: 40vw;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
